<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/newUser}" th:object="${user}">
    <label for="username">username</label>
    <input name="username" type="text" id="username"/>

    <br/>

    <label for="password">Password</label>
    <input name="password" type="text" id="password"/>

    <br/>

    <label for="email">Email</label>
    <input name="email" type="text" id="email"/>

    <br/>

    <label for="role">Role:</label>
    <select name="role" id="role">
        <option value="ROLE_USER">User</option>
        <option value="ROLE_ADMIN">Admin</option>
    </select>
    <br/>

    <input type="submit" value="Add User"/>
</form>

</body>
</html>