<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Update</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/update}" th:object="${user}">
    <input type="hidden" name="id" th:value="${user.id}"/>
    <label for="username">username</label>
    <input name="username" type="text" id="username" th:value="${user.username}"/>

    <br/>

    <label for="password">Password</label>
    <input name="password" type="text" id="password"/>

    <br/>

    <label for="email">Email</label>
    <input name="email" type="text" id="email" th:value="${user.email}"/>

    <br/>

    <label>Role:</label>
    <div>
        <label>
            <input type="checkbox" name="selectedRoles" value="ROLE_USER" th:checked="${user.hasRole('ROLE_USER')}" > User
        </label>
        <label>
            <input type="checkbox" name="selectedRoles" value="ROLE_ADMIN" th:checked="${user.hasRole('ROLE_ADMIN')}"> Admin
        </label>
    </div>

    <br/>

    <input type="submit" value="Update User"/>
</form>


</body>
</html>